/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* BACKGROUND */
.feedback-bg {
  background: linear-gradient(135deg, #1c4cb0, #1e3261);
  min-height: 100vh;
  color: black;

  
}

/* HEADER */
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #42e9f5;
  color: white;
  border-bottom: 5px solid #42e9f5;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  position: relative;
}

.header-flex h1{
  position: static;
  margin: 0 auto;
  left: 45%;
  transform: translateX(-50%);
}

/* LOGO */
.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* FEEDBACK BOX */
.feedback-section {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 35px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  backdrop-filter: blur(6px);
  animation: fadeIn 1.2s ease;
}

.feedback-section h2 {
  color: #004d66;
  margin-bottom: 10px;
  font-size: 30px;
}

/* FORM */
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.feedback-section p {
  color: lightseagreen;
  margin-bottom: 25px;
  font-size: 1.1em;
}

.feedback-form input,
.feedback-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  background: rgba(255,255,255,0.9);
  transition: 0.3s ease-in-out;
}

/* INPUT FOCUS */
.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color:black;
  box-shadow: 0 0 5px rgba(0, 77, 102, 0.5);;
  transform: scale(1.02);
}

/* RADIO ROW */
.rating-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rating-row label {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* BUTTON */
.main-btn {
  display: flex;
  justify-content: center;
  padding: 14px;
  background: #00b3ff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.main-btn:hover {
  background: #0088c4;
  transform: translateY(-3px);
  box-shadow: 0px 4px 15px black;
}

/* FOOTER */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .feedback-section {
    width: 90%;
    padding: 25px;
  }

  .header-flex {
    flex-direction: column;
    gap: 10px;
  }
  .footer{
    flex-direction: column;
    text-align: center;
  }
}
